
main{
  margin: 5px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  margin-bottom: 15px;
}
.menu-icon{
  color: rgb(217, 32, 63);

}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.green {
  background-color: rgb(223, 223, 223);
  padding: 3px 10px;
  font-weight: bolder;
  color: rgb(0, 174, 169);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px;
}
.hero h1{
  font-size: 60px;
  color: rgb(0, 1, 52);
}
.hero h1 span{
  margin: 0 5px;
  color: coral;
}
form{
  display: flex;
  flex-direction: column;
}
form input{
  width: 70%;
  padding: 4px;
  margin: 4px 10px;
}
/* Add these styles to your existing CSS file */

.sidebar {
  width: 250px; /* Set the width of the sidebar according to your design */
  height: 100vh; /* Make the sidebar cover the full height of the viewport */
  background-color: rgb(221, 221, 212); /* Sidebar background color */
  position: fixed; /* Fixed position so it stays in place even when scrolling */
  top: 0;
  left: -250px; /* Initially position the sidebar off-screen */
  transition: left 0.3s ease; /* Add smooth transition effect for left property */

  /* Style for links inside the sidebar */
  .sidebar-link {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: background-color 0.3s ease; /* Add smooth transition effect for background color */
  }

  /* Change background color of links on hover */
  .sidebar-link:hover {
    background-color: rgb(243, 237, 243);
  }
}

/* Adjust the left position of the sidebar when it's visible */
.sidebar.visible {
  left: 0;
}
